<% provide(:title, "クックログとは？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <h1>クックログとは？</h1>
      <div class="col-md-8">
        <h3>自分が作った料理を記録しておけるサービスです。</h3>
        <h1>主な使い方</h1>
        <div class="main-use">
          <h3>【1】自分用の料理ログとして</h3>
          <h3>【2】家族内でのお料理レパートリー共有サービスとして</h3>
        </div>
        <div class="use1">
          <h2>【1】自分用の料理ログとして</h2>
            新しい料理を写真やメモと共に追加<br>
            過去に作った料理をまた作ったら、ログを追加<br>
            作った料理をお気に入りに登録<br>
            過去に作った料理を検索<br>
            過去に作った料理を作る予定リストに登録<br>
        </div>
        <div class="use2">
          <h2>【2】家族内でのお料理レパートリー共有サービスとして</h2>
            家族（例えば母親）のアカウントをフォロー<br>
            料理をお気に入り登録<br>
            料理にコメント<br>
            料理に「食べたい！」リクエストを送る<br>
            過去に作った料理を検索<br>
        </div>
      </div>
    </div>
  </div>
</div>
