<% provide(:title, "クックログとは？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="title-about">クックログとは？</h1>
        <h4>　自分が作った料理を、写真・メモ・材料などと共に記録できるサービスです。</h4>
      </div>
      <div class="col-md-8">
        <h2 class="title-use">主な使い方</h2>
        <div>
          <ol class="main-use">
            <li class="A">自分用のお料理ログとして使う</li>
            <li class="B">家族内でのお料理レパートリー共有サービスとして使う</li>
          </ol>
        </div>
        <p class="about-line"></p>
        <ol class="main-use">
          <li class="A">自分用のお料理ログとして使う</li>
        </ol>
        <ol class="how-to-use">
          <li>新しい料理を写真やメモと共に追加</li>
          <div class="use-explanation">
            <p></p>
          </div>
          <li>過去に作った料理をまた作ったら、ログを追加</li>
          <li>作った料理をお気に入りに登録</li>
          <li>過去に作った料理を検索</li>
          <li>過去に作った料理を作る予定リストに登録</li>
        </ol>
        <ol class="main-use">
          <li class="B">家族内でのお料理レパートリー共有サービスとして使う</li>
        </ol>
        <ol class="how-to-use">
          <li>家族（例えば母親）のアカウントをフォロー</li>
          <li>料理をお気に入り登録</li>
          <li>料理にコメント</li>
          <li>料理に「食べたい！」リクエストを送る</li>
          <li>過去に作った料理を検索</li>
        </ol>
      </div>
    </div>
  </div>
</div>
