<% if logged_in? %>
	<div id="fh5co-portfolio">
		<div class="container">
		  <center>
		    <%= link_to "お料理を登録する", record_dish_path %>
		  </center>
		  <section class="stats">
		    <%= render 'shared/stats' %>
		  </section>
		  <div class="col-md-8">
		    <h3>みんなの料理</h3>
		    <%= render 'shared/feed' %>
		  </div>
		</div>
	</div>
	<% else %>
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
	  <div class="overlay"></div>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-8 col-md-offset-2 text-center">
	        <div class="display-t js-fullheight">
	          <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<!-- <div class="row row-icon"> -->
								<!-- <i class="fas fa-carrot fa-3x"></i>
								<i class="fas fa-hamburger fa-3x"></i> -->
							<!-- </div> -->
	            <h1>毎日のお料理を、写真やメモをつけて保存。</h1>
	            <h2>今日のレシピ、もう迷わない！</h2>
	            <p>
	              <%= link_to 'クックログを始める', signup_path, class: "btn btn-primary btn-lg btn-demo" %>
	            </p>
							<!-- <div class="row row-icon">
								<i class="fas fa-fish fa-3x"></i>
								<i class="fas fa-pizza-slice fa-3x"></i>
							</div> -->
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</header>
<% end %>
