<% provide(:title, '料理一覧') %>
<div id="fh5co-portfolio">
  <div class="container">
    <h1>料理一覧</h1>
    <%= will_paginate %>
    <ul class="dishes">
      <%= render @dishes %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
