<%= form_for(@log) do |f| %>
  <%= hidden_field_tag :dish_id, @dish.id %>
  <div class="row">
    <div class="field">
      <%= f.text_area :content, placeholder: "クックメモを追加..." %>
    </div>
  <div class="col-md-3">
    <%= f.submit "クックログを追加", class: "btn btn-primary" %>
  </div>
<% end %>
